// Custom styles.
//.category-list ul
//    list-style-type none
//    li:before
//      content '> '
.category-list ul {
    li:before {
      content '> '
	}
}

.site-meta {
	background:#00CDCD;
}

body {
	background:url(/images/win10_wallpaper/214682e255425809d47ec8558f2cef5f54b176cd789e357954944a9d86d7c668.jpg) fixed center center no-repeat;
  background-size: cover;
  width: 100%;
//	background-attachment: fixed;
}
